<!DOCTYPE html>
<html>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue au CEP d'Aix!{% endblock %}</title>
        {% block stylesheets %} {{ encore_entry_link_tags('app') }} {% endblock %}
    </head>
    <body id="page-top" data-spy="scroll" data-target="#mainNav" data-offset="150">
    <!-- Navigation-->
    {{ include('headFoot/header.html') }}
    {% block body %}{% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <!-- Contact banner-->
    <div class="pt-5 pb-5 mt-5 border-top bg-dark" id="contact">
            <div class="container">
                <div class="row text-light">
                    <div class="col-lg-4 mx-auto text-center" data-aos="zoom-in">
                        <i class="fontAw fas fa-map-marker fa-2x"></i>
                        <span class="d-block text-monospace mt-1">Localisation:</span>
                        <a class="d-block mt-1" target="_blank" href="https://g.page/RockCaliente-aix?share">
                            48 Avenue Robert Schuman, 13090 Aix-en-Provence
                        </a>
                    </div>
                    <div class="col-lg-4 mx-auto text-center">

                        <button type="button"
                                class="btn-xl btn-primary d-flex align-items-center m-auto"
                                data-toggle="modal"
                                data-target="#contactForm"
                                id="contactButton"
                                data-aos="zoom-in"
                        >
                            <i class="fas fa-comments fa-2x"></i> Nous contacter
                        </button>
                        {{ render(controller('App\\Controller\\ContactFormController::index')) }}                  
                    </div>
                    <div class="col-lg-4 mx-auto text-center" data-aos="zoom-in">
                        <i class="fontAw fas fa-clock fa-2x"></i>
                        <span class="d-block text-monospace mt-1">Horaire du culte:</span>
                        <span class="d-block mt-1">Tous les Dimanches a 10h30</span>
                    </div>
                </div>
            </div>  
        </div>
    {{ include('headFoot/footer.html') }}
    </body>
</html>
